body {
  line-height: 1.1;
}
p {
  font-size: 1.05rem;
}
h1 {
  margin-top: 50px;
  text-align: center;
  color: red;
}

body {
  padding: 20px 35px;
}

blockquote {
  opacity: 0.8;
  font-size: 1.35rem;
  font-style: italic;
  text-align: center;
}

.container {
  padding: 20px;
  border: 1px solid rgb(37, 37, 37);
}
